## Bài tập tuần 3

In [13]:
## Câu 1
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list_trong=[]
##Tạo một list mới chứa các số lẻ
list1 = [x for x in list if x % 2 != 0]
##Đưa các số chẵn vào list mới
for i in range(len(list)):
    if list[i] % 2 == 0:
        list_trong.append(list[i])

print("Danh sách số lẻ:", list1)
print("Danh sách số chẵn:", list_trong)

Danh sách số lẻ: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Danh sách số chẵn: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#Viet vong lap ban hoac mua cp
gia_theo_ngay = [10.1, 9.5, 10.7, 10.8, 10.6, 10.0, 10.2, 9.5]
for i in range(len(gia_theo_ngay)-1):
    if gia_theo_ngay[i+1]>=gia_theo_ngay[i]*1.07:
        print("ban")
    if gia_theo_ngay[i+1]<=gia_theo_ngay[i]*0.95:
        print("mua")
    print("giu nguyen")

import math
#viet chuong trinh kiem tra snt
danh_sach_kiem_tra =[1,2,3,4,5,6,7]
for i in range(len(danh_sach_kiem_tra)):
    check = False
    if danh_sach_kiem_tra[i] < 0:
        print(str(danh_sach_kiem_tra[i]) + " không phải số tự nhiên")
    if danh_sach_kiem_tra[i] <2 :
        print(str(danh_sach_kiem_tra[i]) + " không phải là số nguyên tố")
    else:
        for j in range(2, danh_sach_kiem_tra[i]):
            if danh_sach_kiem_tra[i] % j != 0:
                check = True
            else:
                check = False
                break
        if check == False:
            print(str(danh_sach_kiem_tra[i]) + " Không phải là số nguyên tố")
        if check == True:
            print(str(danh_sach_kiem_tra[i]) + " là số nguyên tố")

mua
giu nguyen
ban
giu nguyen
giu nguyen
giu nguyen
mua
giu nguyen
giu nguyen
mua
giu nguyen
1 không phải là số nguyên tố
2 Không phải là số nguyên tố
3 là số nguyên tố
4 Không phải là số nguyên tố
5 là số nguyên tố
6 Không phải là số nguyên tố
7 là số nguyên tố

In [21]:
with open("test.txt",'w',encoding = 'utf-8') as f: f.write(" Kết quả của bài tập 1: mua, giu nguyen, ban, giunguyen,giu nguyen,giu nguyen,mua,giu nguyen,giu nguyen,mua,giu nguyen")

In [28]:
f = open("test.txt",'r',encoding = 'utf-8')
a = f.read(12)
print("Nội dung 12 ký tự đầu là:",a)
f.close()

Nội dung 12 ký tự đầu là:  Kết quả của

In [3]:
%pwd

'C:\\Users\\Admin'

In [6]:
import csv

In [7]:
ds_tp = []
with open("C:\DA08\sale_data_vn.csv", mode='r', encoding="utf-8",newline='') as a:
    reader = csv.reader(a)
    header = next(reader)
    print(header)
    
    for row in reader :
        ds_tp.append(row[2])

['', 'Invoice ID', 'City', 'Customer type', 'Gender', 'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'cogs', 'Total', 'Date', 'Time', 'Payment', 'Rating']

In [8]:
len(ds_tp)

1000

In [10]:
ds_ten_tp= list(set(ds_tp))
print(ds_ten_tp)

['Hà Nội', 'Đà Nẵng', 'TP HCM']

In [20]:
ds_tp_count = []
for tp in ds_ten_tp:
    count = 0
    
    for tp_donhang in ds_tp:
        if tp == tp_donhang:
            count +=1
    print(f"Tần số của {tp} là",count)
    ds_tp_count.append(count)

Tần số của Hà Nội là 273
Tần số của Đà Nẵng là 210
Tần số của TP HCM là 517

In [51]:
tan_suat = []
for i in range(len(ds_tp_count)):
    tan_suat.append(ds_tp_count[i]/1000)

In [52]:
print(tan_suat)

[0.273, 0.21, 0.517]

In [55]:

print("Tần suất của từng thành phố là",tan_suat)

Tần suất của từng thành phố là [0.273, 0.21, 0.517]

In [56]:
ds_khachhang = []
with open("C:\DA08\sale_data_vn.csv", mode='r', encoding="utf-8",newline='') as a:
    reader = csv.reader(a)
    header = next(reader)
    print(header)
    
    for row in reader :
        ds_khachhang.append(row[4])

['', 'Invoice ID', 'City', 'Customer type', 'Gender', 'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'cogs', 'Total', 'Date', 'Time', 'Payment', 'Rating']

In [57]:
len(ds_khachhang)

1000

In [59]:
ds_ten_khachhang= list(set(ds_khachhang))
print(ds_ten_khachhang)

['Nam', 'Nữ']

In [62]:
ds_tp_count1 = []
for tp in ds_ten_khachhang:
    count = 0
    
    for tp_donhang in ds_khachhang:
        if tp == tp_donhang:
            count +=1
    print(f"Tần số của {tp} là",count)
    ds_tp_count1.append(count)

Tần số của Nam là 463
Tần số của Nữ là 537

In [63]:
tan_suat1 = []
for i in range(len(ds_tp_count1)):
    tan_suat1.append(ds_tp_count1[i]/1000)

In [64]:
print("Tần số theo giới tính Nam/Nữ là",tan_suat1)

Tần số theo giới tính Nam/Nữ là [0.463, 0.537]